<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Afterpay_Afterpay>
            <version>1.6.9</version>
        </Afterpay_Afterpay>
    </modules>
    <global>
        <payment>
            <groups>
                <afterpay>AfterPay</afterpay>
            </groups>
        </payment>
        <events>
            <admin_system_config_section_save_after>
                <observers>
                    <afterpay_tax>
                        <type>model</type>
                        <class>afterpay/observer_config</class>
                        <method>admin_system_config_section_save_after</method>
                    </afterpay_tax>
                </observers>
            </admin_system_config_section_save_after>
            <sales_order_invoice_register>
                <observers>
                    <afterpay_request_capture>
                        <type>Model</type>
                        <class>afterpay/observer_capture</class>
                        <method>sales_order_invoice_register</method>
                    </afterpay_request_capture>
                </observers>
            </sales_order_invoice_register>
            <sales_order_payment_capture>
                <observers>
                    <afterpay_request_capture>
                        <type>Model</type>
                        <class>afterpay/observer_capture</class>
                        <method>sales_order_payment_capture</method>
                    </afterpay_request_capture>
                </observers>
            </sales_order_payment_capture>
            <sales_order_invoice_save_before>
                <observers>
                    <afterpay_request_capture>
                        <type>Model</type>
                        <class>afterpay/observer_capture</class>
                        <method>sales_order_invoice_save_before</method>
                    </afterpay_request_capture>
                </observers>
            </sales_order_invoice_save_before>
            <sales_order_shipment_save_after>
                <observers>
                    <afterpay_invoice_onshipping>
                        <type>Model</type>
                        <class>afterpay/observer_capture</class>
                        <method>sales_order_shipment_save_after</method>
                    </afterpay_invoice_onshipping>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_save_after>
                <observers>
                    <afterpay_invoice_onstate>
                        <type>Model</type>
                        <class>afterpay/observer_capture</class>
                        <method>sales_order_save_after</method>
                    </afterpay_invoice_onstate>
                </observers>
            </sales_order_save_after>
        </events>
        <blocks>
            <afterpay>
                <class>Afterpay_Afterpay_Block</class>
            </afterpay>
        </blocks>
        <models>
            <afterpay>
                <class>Afterpay_Afterpay_Model</class>
            </afterpay>
        </models>
        <helpers>
            <afterpay>
                <class>Afterpay_Afterpay_Helper</class>
            </afterpay>  
        </helpers>
        <helpers>
            <Afterpay_Afterpay>
                <class>Afterpay_Afterpay_Helper</class>
            </Afterpay_Afterpay>
        </helpers>
        <resources>
            <afterpay_setup>
                <setup>
                    <module>Afterpay_Afterpay</module>
                    <class>Afterpay_Afterpay_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </afterpay_setup>
            <afterpay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </afterpay_write>
            <afterpay_read>
                <connection>
                       <use>core_read</use>
                </connection>
            </afterpay_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <Afterpay_Afterpay>
                    <file>afterpay/afterpay/layout.xml</file>
                </Afterpay_Afterpay>
            </updates>
        </layout>
        <routers>
            <afterpay>
                <use>standard</use>
                <args>
                    <module>Afterpay_Afterpay</module>
                    <frontName>afterpay</frontName>
                </args>
            </afterpay>
        </routers>
        <translate>
            <modules>
                <Afterpay_Afterpay>
                    <files>
                        <default>Afterpay_Afterpay.csv</default>
                    </files>
                </Afterpay_Afterpay>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <Afterpay_Afterpay>
                    <file>afterpay/afterpay/layout.xml</file>
                </Afterpay_Afterpay>
            </updates>
        </layout>
        <translate>
            <modules>
                <Afterpay_Afterpay>
                    <files>
                        <default>Afterpay_Afterpay.csv</default>
                    </files>
                </Afterpay_Afterpay>
            </modules>
        </translate>
        <events>
            <checkout_submit_all_after>
                <observers>
                    <afterpay_backendOrder>
                        <type>Model</type>
                        <class>afterpay/observer_backendOrder</class>
                        <method>checkout_submit_all_after</method>
                    </afterpay_backendOrder>
                </observers>
            </checkout_submit_all_after>
        </events>
    </adminhtml>
    <default>
        <payment>
            <portfolio_a translate="title">
                <active>1</active>
                <model>afterpay/portfolios_portfolioA_paymentMethod</model>
                <sort_order>100</sort_order>
                <group>afterpay</group>
                <title>AfterPay Portfolio A</title>
                <separate_discount>1</separate_discount>
            </portfolio_a>
            <portfolio_b translate="title">
                <active>1</active>
                <model>afterpay/portfolios_portfolioB_paymentMethod</model>
                <sort_order>200</sort_order>
                <group>afterpay</group>
                <title>AfterPay Portfolio B</title>
                <separate_discount>1</separate_discount>
            </portfolio_b>
            <portfolio_c translate="title">
                <active>1</active>
                <model>afterpay/portfolios_portfolioC_paymentMethod</model>
                <sort_order>300</sort_order>
                <group>afterpay</group>
                <title>AfterPay Portfolio C</title>
                <separate_discount>1</separate_discount>
            </portfolio_c>
            <portfolio_d translate="title">
                <active>1</active>
                <model>afterpay/portfolios_portfolioD_paymentMethod</model>
                <sort_order>400</sort_order>
                <group>afterpay</group>
                <title>AfterPay Portfolio D</title>
                <separate_discount>1</separate_discount>
            </portfolio_d>
            <portfolio_e translate="title">
                <active>1</active>
                <model>afterpay/portfolios_portfolioE_paymentMethod</model>
                <sort_order>500</sort_order>
                <group>afterpay</group>
                <title>AfterPay Portfolio E</title>
                <separate_discount>1</separate_discount>
            </portfolio_e>
            <portfolio_f translate="title">
                <active>1</active>
                <model>afterpay/portfolios_portfolioF_paymentMethod</model>
                <sort_order>600</sort_order>
                <group>afterpay</group>
                <title>AfterPay Portfolio F</title>
                <separate_discount>1</separate_discount>
            </portfolio_f>
        </payment>
        <afterpay>
            <afterpay_general>
                <active>0</active>
                <limit_by_ip>0</limit_by_ip>
                <mode>1</mode>
                <success_redirect>checkout/onepage/success</success_redirect>
                <failure_redirect>checkout/onepage</failure_redirect>
                <!--<validation_redirect>checkout/onepage</validation_redirect>-->
                <auto_invoice>1</auto_invoice>
                <send_invoice>0</send_invoice>
                <debug_mode>no</debug_mode>
            </afterpay_general>
            <afterpay_portfolio_a>
                <active>0</active>
                <mode>1</mode>
                <limit_by_ip>0</limit_by_ip>
                <portfolio_type>B2C</portfolio_type>
                <portfolio_showbankaccount>0</portfolio_showbankaccount>
                <portfolio_showgender>1</portfolio_showgender>
                <portfolio_showdob>1</portfolio_showdob>
                <portfolio_showterms>1</portfolio_showterms>
                <portfolio_showphonenumber>1</portfolio_showphonenumber>
                <portfolio_label>Achteraf betalen</portfolio_label>
                <portfolio_footnote></portfolio_footnote>
                <portfolio_extended_information>Binnen enkele dagen zult u per mail een betaaloverzicht van AfterPay ontvangen van waaruit u uw bestelling via DigiAccept/iDEAL kunt betalen.</portfolio_extended_information>
                <portfolio_min_amount>10</portfolio_min_amount>
                <order_status_pending>pending</order_status_pending>
                <order_status_accepted>processing</order_status_accepted>
                <order_status_refused>canceled</order_status_refused>
                <allowspecific>1</allowspecific>
                <specificcountry>NL</specificcountry>
                <allowspecific_customers>0</allowspecific_customers>
                <sort_order>100</sort_order>
                <area>both</area>
            </afterpay_portfolio_a>
            <afterpay_portfolio_b>
                <active>0</active>
                <mode>0</mode>
                <limit_by_ip>0</limit_by_ip>
                <portfolio_type>B2C</portfolio_type>
                <portfolio_showbankaccount>0</portfolio_showbankaccount>
                <portfolio_label>Achteraf betalen</portfolio_label>
                <order_status_pending>pending</order_status_pending>
                <order_status_accepted>processing</order_status_accepted>
                <order_status_refused>canceled</order_status_refused>
                <allowspecific>0</allowspecific>
                <allowspecific_customers>0</allowspecific_customers>
                <sort_order>200</sort_order>
                <area>both</area>
            </afterpay_portfolio_b>
            <afterpay_portfolio_c>
                <active>0</active>
                <mode>0</mode>
                <limit_by_ip>0</limit_by_ip>
                <portfolio_type>B2C</portfolio_type>
                <portfolio_showbankaccount>0</portfolio_showbankaccount>
                <portfolio_label>Achteraf betalen</portfolio_label>
                <order_status_pending>pending</order_status_pending>
                <order_status_accepted>processing</order_status_accepted>
                <order_status_refused>canceled</order_status_refused>
                <allowspecific>0</allowspecific>
                <allowspecific_customers>0</allowspecific_customers>
                <sort_order>300</sort_order>
                <area>both</area>
            </afterpay_portfolio_c>
            <afterpay_portfolio_d>
                <active>0</active>
                <mode>0</mode>
                <limit_by_ip>0</limit_by_ip>
                <portfolio_type>B2C</portfolio_type>
                <portfolio_showbankaccount>0</portfolio_showbankaccount>
                <portfolio_label>Achteraf betalen</portfolio_label>
                <order_status_pending>pending</order_status_pending>
                <order_status_accepted>processing</order_status_accepted>
                <order_status_refused>canceled</order_status_refused>
                <allowspecific>0</allowspecific>
                <allowspecific_customers>0</allowspecific_customers>
                <sort_order>400</sort_order>
                <area>both</area>
            </afterpay_portfolio_d>
            <afterpay_portfolio_e>
                <active>0</active>
                <mode>0</mode>
                <limit_by_ip>0</limit_by_ip>
                <portfolio_type>B2C</portfolio_type>
                <portfolio_showbankaccount>0</portfolio_showbankaccount>
                <portfolio_label>Achteraf betalen</portfolio_label>
                <order_status_pending>pending</order_status_pending>
                <order_status_accepted>processing</order_status_accepted>
                <order_status_refused>canceled</order_status_refused>
                <allowspecific>0</allowspecific>
                <allowspecific_customers>0</allowspecific_customers>
                <sort_order>500</sort_order>
                <area>both</area>
            </afterpay_portfolio_e>
            <afterpay_portfolio_f>
                <active>0</active>
                <mode>0</mode>
                <limit_by_ip>0</limit_by_ip>
                <portfolio_type>B2C</portfolio_type>
                <portfolio_showbankaccount>0</portfolio_showbankaccount>
                <portfolio_label>Achteraf betalen</portfolio_label>
                <order_status_pending>pending</order_status_pending>
                <order_status_accepted>processing</order_status_accepted>
                <order_status_refused>canceled</order_status_refused>
                <allowspecific>0</allowspecific>
                <allowspecific_customers>0</allowspecific_customers>
                <sort_order>600</sort_order>
                <area>both</area>
            </afterpay_portfolio_f>
         </afterpay>
    </default>
</config>